<h1>Please Sign In</h1><br>

<%= form_for @user, url: signin_path, method: :post do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <br>
  <%= f.submit 'Sign In' %>
  <% end %>
