<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>

<label name="name">
<%= @user.name %>

<%= @user.height %>

<label name="mood">Mood</label>
<%= @user.mood %>

<label name="mood">happy</label>
<%= @user.happiness %>

<label name="mood">Nauseous?</label>
<%= @user.nausea %>

<label name="mood">Tickets</label>
<%= @user.tickets %>
