<h1>Edit Attraction!</h1>

<%= form_for(@attraction) do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>
<%= f.label 'Ticket Price' %><br>
<%= f.text_field :tickets %><br>
<%= f.label 'Nausea Rating' %><br>
<%= f.text_field :nausea_rating %><br>
<%= f.label 'Happiness Rating' %><br>
<%= f.text_field :happiness_rating %><br>
<%= f.label 'Minimum Height Requirement' %><br>
<%= f.text_field :min_height %><br><br>
<%= f.submit %>
<% end %>
